.movie-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.movie-details img {
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.movie-details h1 {
    margin-bottom: 20px;
}
